html, body{
    margin-left: 40px;
    margin-top: 5px;
}

input:hover:not(#input-eq):not(#empty){
    -webkit-filter: invert(1);
    filter: invert(1);
}

input:active:not(#input-eq):not(#empty){
    transform: scale(0.92);
}

@font-face{
    font-family: "digital-font-1";
    src: url("font//digital_1/digital-7.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
